<section class="section1">

  <app-navbar></app-navbar>

  <div class="portada">
    <div class="portadaI">
      <div class="tPortada">
        <h1>DESARROLLO DE APLICACIONES MULTIPLATAFORMA</h1>
      </div>
      <div class="dPortada">
        Seguro que tienes muchas preguntas
      </div>
      <div class="bPortada">
        <button onclick="window.location.href='#grados';" class="b1">¿Qué voy a Aprender?</button><button onclick="window.location.href='#cursos';" class="b2">¿Y cómo?</button>
      </div>
    </div>
    <div class="portadaD">
      <div class="formBox">
        <div class="tForm">Solicitar Información</div>
        <form action="">
          <input type="text" placeholder="Nombre y Apellidos" name="nombre" [(ngModel)]="form.nombre">
          <input type="text" placeholder="Email" name="email" [(ngModel)]="form.email">
          <input type="text" placeholder="Asunto" name="asunto" [(ngModel)]="form.asunto">
          <input type="submit" value="Enviar" id="sendForm" (click)="enviarFormulario()">
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section2">
  <h2>¿Qué voy a Aprender?</h2>
  <div class="contenedor2">
  <div class="learnCaja">
    <div class="LCi">
      <div class="LCi2">Desarrollarás juegos y aplicaciones para teléfonos, tablets y otros dispositivos móviles empleando técnicas y entornos de desarrollo específicos</div>
      <div class="LCi2">Implementaras y Gestionaras tambien la parte de BackEnd que te permitira guardar toda las informacion que recojas para posteriormente mostrarla </div>

    </div>
    <div class="LCd">
      <img src="/assets/img/MOVIL-CHICA.png">
    </div>
  </div>

  <div class="learnCarr">
    <div class="imgCarr"><img src="/assets/img/imagen1.jpg"></div>
    <div class="imgCarr"><img src="/assets/img/imagen2.jpg"></div>
    <div class="imgCarr"><img src="/assets/img/imagen3.jpg"></div>
    <div class="imgCarr"><img src="/assets/img/imagen4.gif"></div>
  </div>
  </div>
</section>

<section class="section3">
  <h2>¿Cuales serán mis asignaturas?</h2>
  <div class="tableContainer">

    <div class="ContainerI">
      <table class="table">
        <thead style="background-color:#6195FF; color: #FFF;">
          <tr>
            <th scope="col">Primer Curso</th>
          </tr>
        </thead>
        <tbody>
            <tr class="firstRow">
              <th scope="row">0483. Sistemas informáticos</th>
              <span class="descrTable">6 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0484. Bases de datos </th>
              <span class="descrTable">6 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0485. Programación </th>
              <span class="descrTable">6 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0373. Lenguajes de marcas y sistemas de información</th>
              <span class="descrTable">6 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0487. Entornos de desarrollo </th>
              <span class="descrTable">3 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">CLM0022. Inglés técnico para los ciclos formativos de grado superior de la familia profesional Informática y Comunicaciones </th>
              <span class="descrTable">2 horas Semana</span>
            </tr><tr class="firstRow">
              <th scope="row">0493. Formación y orientación laboral. </th>
              <span class="descrTable">3 horas Semana</span>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="ContainerD">
      <table class="table">
        <thead style="background-color:#6195FF; color: #FFF;">
          <tr>
            <th scope="col">Segundo Curso</th>
          </tr>
        </thead>
        <tbody>
            <tr class="firstRow">
              <th scope="row">0486. Acceso a datos</th>
              <span class="descrTable">7 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0488. Desarrollo de interfaces </th>
              <span class="descrTable">7 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0489. Programación multimedia y dispositivos móviles </th>
              <span class="descrTable">5 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0490. Programación de servicios y procesos</th>
              <span class="descrTable">3 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0491. Sistemas de gestión empresarial</th>
              <span class="descrTable">5 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0494. Empresa e iniciativa emprendedora</th>
              <span class="descrTable">3 horas Semana</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0492. Proyecto de desarrollo de aplicaciones multiplataforma</th>
              <span class="descrTable">40 horas Totales</span>
            </tr>
            <tr class="firstRow">
              <th scope="row">0495. Formación en centros de trabajo</th>
              <span class="descrTable">400 horas Totales</span>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="section4">
  <h2>¿Y cómo?</h2>

  <div class="cajaP1">
    <div class="cajaP2">
      <i class="fa fa-cogs"></i>
      <p>Centrados en la Práctica</p>
    </div>
    <div class="cajaP2">
      <i class="fa fa-magic"></i>
      <p>Metodología Innovadora</p>
    </div>
  </div>
</section>



<section class="section5">
  <h2>¿Para qué me prepara?</h2>
  <div class="containerTips">
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Trabajarás con diferentes tecnologías y metodologías como: JAVA, HTML, XML, CSS, VISUAL STUDIO.NET, ANDROID NATIVO, MySQL, UML, SCRUM, GIT y ERPs</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollarás juegos y aplicaciones para teléfonos, tablets y otros dispositivos móviles empleando técnicas y entornos de desarrollo específicos</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Gestionarás datos, interpretando su diseño lógico y verificando integridad, consistencia, seguridad y accesibilidad de los datos</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Aprenderás a empaquetar aplicaciones auto instalables para su distribución</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollarás aplicaciones multiproceso y multihilo</p>
    </div>
  </div>
</section>


<section class="section6">
  <div class="contenedorTip">
    <div class="cajaTip">
      <i class="fa fa-trophy"></i>
      <h3>Título Oficial</h3>
    </div>
    <div class="cajaTip">
    <i class="fa fa-calendar"></i>
    <h3>2 Años Lectivos</h3>
    </div>
    <div class="cajaTip">
      <i class="fa fa-magic"></i>
      <h3>1600h Clases</h3>
    </div>
    <div class="cajaTip">
      <i class="fa fa-cogs"></i>
      <h3>400h Prácticas</h3>
    </div>
  </div>
</section>


<section class="section7">
  <h2>¿Qué nos hace únicos?</h2>
  <div class="contenedor4">
    <div class="cajaTap">
      <h3>Número de Alumnos</h3>
      <p>Tenemos sólo 20 alumnos por aula, esto nos permite tener mucho más atención al alumnado </p>
    </div>
    <div class="cajaTap">
      <h3>Experiencia +20años</h3>
      <p>Sí, estás leyendo bien, tenemos más de 20 años de experiencia en la formación en informática.</p>
    </div>
    <div class="cajaTap">
      <h3>Enfoque emprendedor</h3>
      <p>Creemos en la importancia de apoyar y guiar en el emprendimiento </p>
    </div>
  </div>
</section>


<section class="section8">
<div class="section8I">
  <h2>SALIDAS PROFESIONALES</h2>
  <div class="p1">Fórmate en un sector con grandes oportunidades laborales, cuya previsión para 2018 y 2019 es la creación de 900.000 nuevos puestos de trabajo.</div>
  <div class="containerTips">
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Derarrollador de aplicaciones empresariales o de negocio</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollador de aplicaciones de entretenimento</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollador de aplicaciones móviles</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Gestionar e implatar ERP/CRM</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Crear componentes para ERP/CRM</p>
    </div>
  </div>
</div>
<div class="section8D">
 <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr1.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr2.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr3.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr4.jpg">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
</section>

<app-contact-fotter></app-contact-fotter>
