.section1 {
  height: 100vh;
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/fondodam.png');
  // position: absolute;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // z-index: 1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/////////* PORTADA *//////////

.portada {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  h1 {
    line-height: 1;
  }
}
.portadaI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 50%;
  color:#EEF0F2;
  padding: 1em;
}
.tPortada {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: fit-content;
}
.portadaI h1 {
  font-size: 54px;
  font-weight: 700;
}
.dPortada {
  font-size: 18px;
  font-weight: 400;
}
.bPortada {
  margin-top: 2em;
}
.b1, .b2 {
  font-size: 12px;
  margin: 1em;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid black;
}
// .b1 {

// }
.b2 {
  background-color: #10161A;
  color: white
}

.portadaD {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBox {
  border: 1px solid white;
  border-radius: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.tForm {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 1em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input:focus {
    opacity: 100;
    color: black;
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(219, 205, 205);
  }
}
form input {
  width: 100%;
  height: 40px;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: .5em;
  opacity: 32%;
  border: none;
}
form input::placeholder {
  color: black !important;
  font-size: .8em;
  opacity: none;
  font-weight: bold;
}
#sendForm {
  width: 130px;
  height: 50px;
  background-color: #6195FF;
  color: #ffffff;
  border: none;
  opacity: 100%;
}

//////////// SECTION 2 LEARN TIPS ///////////////
.section2 {
  width: 100%;
  padding: 100px 70px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  display: table;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .learnCaja {
    position: relative;
    margin: 0 auto;
    margin-top: 4em;
    // border: 1px solid black;
    display: flex;
    background-color: #333;
    border-radius: 1em;
    width: 90%;
    .LCi {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid black;
      padding: 40px 20px;
      width: 70%;
      .LCi2 {
        margin: 1em 0;
        padding: 30px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        color: white;
        width: 80%;
        height: 50%;
      }
    }
    .LCd {
      width: fit-content;
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 387px;
        height: 337px;
      }
    }
  }

  .learnCarr {
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    // border: 1px solid black;
    width: 90%;
    height: 200px;
    .imgCarr {
      padding: 1em;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}



//////////// SECTION 3 TABLES ///////////////
.section3 {
  padding-bottom: 100px;
  width: 100%;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .tableContainer {
    margin-top: 5em;
    padding: 0 50px;
    width: 100%;
    display: flex;
    .ContainerI, .ContainerD {
      padding: 1em;
      width: 100%;
      table {
        thead {
          th {
            padding: 20px 12px;
            font-size: 24px;
            font-weight: 700;
          }
        }
        .firstRow {
          display: flex !important;
          flex-direction: column;
          text-align: left;
          padding-left: 10px;
          border: 1px solid #EEE;
          th {
            color: #10161A;
            font-size: 16px;
            font-weight: 700;
          }
          .descrTable {
            color: #777;
            font-size: 13px;
          }
        }
      }
    }

  }

}


////////// SECTION 4 PRIMER PARALLAX ////////////
.section4 {
  width: 100%;
  height: 500px;
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/img/imagen5.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }
  .cajaP1 {
    display: flex;
    .cajaP2 {
      margin: 1em;
      padding: 50px 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.5);
      i {
        font-size: 36px;
        color: #6195FF;
        margin-bottom: 20px;
      }
      p {
        color: white;
        font-size: 21px;
        font-weight: bold;
        line-height: 1.3;
      }
    }
  }

}


/////////// SECTION 5 TIPS /////////

.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  width: 100%;
  text-align: center;
  h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .containerTips {
    width: 90%;
    margin-top: 2em;
    .tips {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      i {
        margin-right: 10px;
        color: #6195FF;
        float: left;
        // padding: 5px;
        // border-radius: 50%;
        // border: 1px solid #6195FF;
      }
      p {
        text-align: left;
        font-size: 16px;
        color: #868F9B;
        line-height: 1.6;
        margin: 0;
      }
    }
  }

}


/////////// SECTION 6 INFO //////////

.section6 {
  width: 100%;
  height: 400px;
  background: url('/assets/img/chico.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  padding: 0 50px;
  .contenedorTip {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .cajaTip {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid white;
      height: 50%;
      width: 25%;
      margin: 1em;
      background-color: rgba(0,0,0,0.2);
      i {
        font-size: 36px;
        color: #6195FF;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #10161A;
      }
  }
  .cajaTip:hover {
    background-color: #1C1D21;
    transition: 1s width;

  }
  }

}

.section7 {
  width: 100%;
  // height: 450px;
  padding: 60px 50px 60px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .contenedor4 {
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    padding: 20px 70px 0;
    .cajaTap {
      display: flex;
      flex-direction: column;
      // justify-content: center ;
      padding: 50px 30px;
      border: 1px solid #EEE;
      height: auto;
      // max-height: auto;
      width: 33%;
      margin: 1em;
      h3 {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #10161A;
      }
      p {
        color: #868F9B;
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }

}

//////// SALIDAS PROFESIONALES CARRUSEL ////////
.section8 {
  padding: 120px 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #FAFAFA;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 45px;
    color: #10161A;
  }
  .section8I {
    padding: 0 10px 0 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 100%;
    .p1 {
      font-family: 'Varela Round', sans-serif;
      color: #868F9B;
      font-size: 16px;
      line-height: 1.6;
    }
    .containerTips {
      width: 90%;
      margin-top: 2em;
      .tips {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
          color: #6195FF;
          float: left;
          // padding: 5px;
          // border-radius: 50%;
          // border: 1px solid #6195FF;
        }
        p {
          text-align: left;
          font-family: 'Varela Round', sans-serif;
          color: #868F9B;
          font-size: 16px;
          line-height: 1.6;
          margin: 0;
        }
      }
    }

  }
  .section8D {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    ngb-carousel {

      width: 100%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 1250px) {
  .section2 {
    .learnCaja {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      .LCi {
        width: 100% !important;
      }
      .LCd {
        text-align: center;
        width: 100% !important;
        img {
          position: relative !important;
          bottom: 0;
          top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .section1 {
    .portada {
      // display: flex;
      flex-direction: column !important;
      .portadaI {
        width: 100%;
      }
      .portadaD {
        width: 100%;
      }
    }
  }
  .section2 {
    .contenedor2 {
      width: 100%;
      // display: flex !important;
      // flex-direction: column !important;
      // align-items: center !important;
      // justify-content: center;
       .learnCarr {
        // border: 1px solid black;
        display: table !important;

        .imgCarr {
          text-align: center;
          height: auto !important;
          img {
            width: 90% !important;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 900px) {
  .portada {
    flex-direction: column;
    .portadaI {
      width: 100%;
    }
    .portadaD {
      width: 100%;
    }
  }
  .section7 {
    .contenedor4 {
      padding: 20px !important;
      flex-direction: column;
      .cajaTap {
        width: 100%;
        margin: 0 0 1em 0;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .section8 {
    flex-direction: column;
    .section8D {
      padding: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      ngb-carousel {
        width: 80%;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .section6 {
    display: table;
    height: auto;
    .contenedorTip {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .cajaTip {
        width: 90%;
        padding: 20px 0;
      }
    }
  }

  .tableContainer {
  padding: 0 10px !important;
  flex-direction: column;
}
}

@media screen and (max-width: 620px) {
  .section2 {
    padding: 100px 0;
  }

}
@media screen and (max-width: 560px) {
  .section1 {
    .portada {
      .portadaI {
        h1 {
          font-size: 3em !important;
        }
      }
    }
  }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }

  .section4 {
    padding: 20px 0;
    text-align: center;
    display: table;
    .cajaP1 {
      flex-direction: column;
    }
  }

  .section8 {
    .section8D {
      ngb-carousel {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .section2 {
    .learnCaja {
      .LCd {
        img {
          width: 100%;
          height: 100%;
          right: 5px;
        }
      }
    }
  }
  .section7 {
    padding: 60px 5px !important;
  }
  .section8 {
    h2 {
      text-align: center;
    }
    .section8I {
      padding: 0 5px !important;
    }
  }
}
@media screen and (max-width: 415px) {
  .section1 {
    .portada {
      .portadaI {
        h1 {
          font-size: 2em !important;
        }
      }
    }
  }
}
@media screen and (max-width: 315px) {
  .section7 {
    padding: 60px 5px !important;
    .cajaTap {
      padding: 30px 10px !important;
    }
  }
  .section8 {
    h2 {
      font-size: 2em;
    }
  }
}
