<section>
  <nav>
    <div class="navL"><a href=""><img src="logo.png"></a></div>
    <div class="navR">
      <ul>
        <li><a href="">INICIO</a></li>
        <li><a href="">GRADOS SUPERIORES</a></li>
        <li><a href="">CURSOS</a></li>
        <li><a href="">CONTACTO</a></li>
      </ul>
    </div>
  </nav>
  <div class="portada">
    <div class="portadaI">
      <div class="tPortada">
        <h1>CENTRO DE FORMACIÓN PROFESIONAL</h1>
      </div>
      <div class="dPortada">
        Ahora te puedes convertir en ese profesional cotizado y demandado por las empresas
      </div>
      <div class="bPortada">
        <button class="b1">Formación online!</button><button class="b2">Información grados</button>
      </div>
    </div>
    <div class="portadaD">
      <div class="formBox">
        <div class="tForm">Solicitar Información</div>
        <form action="">
          <input type="text" placeholder="Nombre y Apellidos">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Asunto">
          <input type="submit" value="Enviar">
        </form>
      </div>
    </div>
  </div>
</section>

  <!-- NAV BOOTSTRAP
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CAMPUS OMEGA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </nav> -->

