<section class="section1">

  <app-navbar></app-navbar>

  <!-- <nav>
    <div class="navL"><a href=""><img src="assets/img/logo.png"></a></div>
    <div class="navR">
      <ul>
        <li><a href="">INICIO</a></li>
        <li><a href="">GRADOS SUPERIORES</a></li>
        <li><a href="">CURSOS</a></li>
        <li><a href="">CONTACTO</a></li>
      </ul>
    </div>
  </nav> -->
  <div class="portada">
    <div class="portadaI">
      <div class="tPortada">
        <h1>CENTRO DE FORMACIÓN PROFESIONAL</h1>
      </div>
      <div class="dPortada">
        Ahora te puedes convertir en ese profesional cotizado y demandado por las empresas
      </div>
      <div class="bPortada">
        <button onclick="window.location.href='#grados';" class="b1">Información grados</button><button onclick="window.location.href='#cursos';" class="b2">Formación online!</button>
      </div>
    </div>
    <div class="portadaD">
      <div class="formBox">
        <div class="tForm">Solicitar Información</div>
        <form action="">
          <input type="text" placeholder="Nombre y Apellidos" name="nombre" [(ngModel)]="form.nombre">
          <input type="text" placeholder="Email" name="email" [(ngModel)]="form.email">
          <input type="text" placeholder="Asunto" name="asunto" [(ngModel)]="form.asunto">
          <input type="submit" value="Enviar" id="sendForm" (click)="enviarFormulario()">
        </form>
      </div>
    </div>
  </div>

</section>
<section class="section2">
  <img src="assets/img/cssjshtml.PNG" alt="">
</section>

<section class="section3" id="grados">
  <h2>Grados Superiores</h2>
  <div class="section3G">
    <div class="gradoL">
      <div class="imagenGrado">
        <img src="assets/img/blog1.jpg" alt="">
      </div>
      <div class="gradoContent">
      <div class="gradoT">
        <h3>Desarrollo de Aplicaciones Web</h3>
      </div>
      <div class="gradoD">
        <p>Este ciclo está centrado en el desarrollo, implantación y mantenimiento de sitios y aplicaciones web, tanto en su faceta de desarrollo frontend (HTML, CSS, Javascript) como backend (PHP, Ruby, Node.js, SQL, etc).</p>
        <p>Sus titulados optan a salidas profesionales como "Diseñador Web", "desarrollador Full Stack", "Especialista en SEO", etc </p>
      </div>
      <a href=""><p class="gradoP">+ Más información</p></a>
    </div>
    </div>
    <div class="gradoR">
      <div class="imagenGrado">
        <img src="assets/img/blog2.jpg" alt="">
      </div>
      <div class="gradoContent">
      <div class="gradoT">
        <h3>Desarrollo de Aplicaciones Multiplataformas</h3>
      </div>
      <div class="gradoD">
        <p>Es el ciclo más enfocado a la programación de software de escritorio y aplicaciones móviles, internet_of_Things, desarrollo de videojuegos.</p>
        <p>Sus titulados optan a salidas profesionales como "programador", "gestor de proyectos", "analista programador" o "comercial de programas informáticos".</p>
      </div>
      <a href=""><p class="gradoP">+ Más información</p></a>
      </div>
    </div>
  </div>
</section>

<section class="section4" id="cursos">
  <h2>Cursos y Certificados de Profesionalidad</h2>

  <div class="section4C">

   <div class="cursoC">
     <h3>Cursos online</h3>
     <img src="assets/img/pexels-fauxels-3184163.jpg" alt="">
     <div class="cursoD">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
     </div>
     <p class="cursoM">Saber más -></p>
   </div>

   <div class="cursoC">
    <h3>Certificados de profesionalidad</h3>
    <img src="assets/img/pexels-cottonbro-4268520.jpg" alt="">
    <div class="cursoD">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </div>
    <p class="cursoM">Saber más -></p>
  </div>

  <div class="cursoC">
    <h3>Cursos presenciales</h3>
    <img src="assets/img/pexels-cottonbro-4064848.jpg" alt="">
    <div class="cursoD">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </div>
    <p class="cursoM">Saber más -></p>
  </div>
  </div>

</section>

<section class="section5">
  <div class="ventajasC">
    <div class="flat">
      <img class="flatImg" src="assets/img/ensenar.png" alt="">
      <p>Más de 20 años de experiencia impartiendo formación</p>
    </div>
  <div class="flat">
    <img class="flatImg" src="assets/img/trabajo.png" alt="">
    <p>Equipo cercano y asesoramiento acerca de tus dudas</p>
  </div>
  </div>

  <div class="ventajasCC">
   <img class="developerImg" src="assets/img/web-developer.png" alt="">
  </div>

  <div class="ventajasC2">
    <div class="flat">
      <img class="flatImg" src="assets/img/tecnologia.png" alt="">
      <p>Los métodos de enseñanza más actualizados</p>
    </div>
  <div class="flat">
    <img class="flatImg" src="assets/img/educacion.png" alt="">
    <p>Mejores cursos calidad / precio del mercado</p>
  </div>
  </div>
</section>
<app-contact-fotter></app-contact-fotter>


  <!-- NAV BOOTSTRAP
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CAMPUS OMEGA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </nav> -->

