.section1 {
  height: 100vh;
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/Web19203.png');
  // position: absolute;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // z-index: 1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

////////* NAV *///////
/*
nav {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100px;
  padding: 2em;
}
.navL{
  width: 300px;
  height: 50px;
}
.navL img {
  width: 100%;
  height: 100%;
}
.navR {
  height: 100%;
  display: flex;
  font-size: 14px;
}
.navR ul {

}
.navR li, .navR a {
  margin: .3em;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: white;
}
*/


/////////* PORTADA *//////////

.portada {
  height: calc(100% - 75px);
  display: flex;
  h1 {
    line-height: 1;
  }
}
.portadaI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 50%;
  color:#EEF0F2;
  padding: 1em;
}
.tPortada {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portadaI h1 {
  font-size: 54px;
  font-weight: 700;
  width: '';
}
.dPortada {
  font-size: 18px;
  font-weight: 400;
}
.bPortada {
  margin-top: 2em;
}
.b1, .b2 {
  font-size: 12px;
  margin: 1em;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid black;
}
// .b1 {

// }
.b2 {
  background-color: #10161A;
  color: white
}

.portadaD {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBox {
  border: 1px solid white;
  border-radius: 1em;
  width: 80%;
  height: "";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.tForm {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 1em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input:focus {
    opacity: 100;
    color: black;
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(219, 205, 205);
  }
}
form input {
  width: 100%;
  height: 40px;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: .5em;
  opacity: 32%;
  border: none;
}
form input::placeholder {
  color: black !important;
  font-size: .8em;
  opacity: none;
  font-weight: bold;
}
#sendForm {
  width: 130px;
  height: 50px;
  background-color: #6195FF;
  color: #ffffff;
  border: none;
  opacity: 100%;
}

///////////* SECTION 2 IMAGEN *///////////////

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #EEE;
  background-color: #FAFAFA;
}
.section2 img {
  height: 100%;
  width: 100%;
}

////////* SECTION 3 GRADOS SUPERIORES */////////////

.section3 {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #EEE;
  background-color: #FAFAFA;
  h2 {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 36px;
    font-weight: 700;
  }
}
.gradoL {
  width: 40%;
  align-content: center;
  justify-content: center;
  img {
    width: 100%;
  }
}
.gradoR {
  width: 40%;
  justify-content: center;
  img {
    width: 100%;
  }
}
.section3G {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 55px;
  .gradoL, .gradoR {
    // border: 1px solid black;
    margin: 1em;
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    .gradoContent {
      position: relative;
      font-size: .9em;
      padding: 20px 20px 50px;
      color: #868F9B;
      .gradoT {
        color: black;
      }
      .gradoP {
        position: absolute;
        color: #6195FF;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

////////* SECTION 4 CURSOS Y CERTIFICADOS */////////////

.section4 {
  width: 100%;
  padding: 2em;
  border-bottom: 1px solid #EEE;
  background-color: #FAFAFA;

  h2 {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 36px;
    font-weight: 700;
  }
}
.section4C {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 55px;
  .cursoC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    img {
      width: 100%;
    }
    .cursoD {
      padding: 20px;
      font-size: .9em;
      color: #868F9B;
    }
    h3 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 1em;
    }
    .cursoM {
      color: #6195FF;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

////////* SECTION 5 VENTAJAS */////////////
@media screen and (max-width: 730px) {
  .portada {
    flex-direction: column;
    .portadaI {
      width: 100%;
    }
    .portadaD {
      width: 100%;
    }
  }
}
@media screen and (max-width: 800px) {
  .section3G {
    // border: 1px solid black;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
    .gradoL, .gradoR {
      width: 90%;
      .imagenGrado {
        // border: 1px solid black;
        width: 100% !important;
        display: flex;
        // align-items: center;
        justify-content: center;
        img {
          width: 80% !important;
        }
      }
    }
  }

  .section4C {
    flex-direction: column;
    img {
      width: 80% !important;
    }
  }

}
@media screen and (max-width: 1060px) {
  .section5 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    .ventajasCC {
      display: flex;
      justify-content: center;
      grid-column: 1/4 !important;
      grid-row: 1 !important;
      img {
      }
    }
    .ventajasC {
      grid-column: 2 / 4 !important;
      grid-row: 2 !important;
    }
    .ventajasC2 {
      grid-column: 2 / 4 !important;
      grid-row: 2 !important;
    }
  }
}
/* SECTION 5 VENTAJAS
.section5 {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  .ventajasCC {
    display: flex;
    justify-content: center;
    grid-column: 1/3 !important;
    grid-row: 1 !important;
    img {
    }
  }
  .ventajasC {
    grid-column: 1 / 3 !important;
    grid-row: 2 !important;
  }
  .ventajasC2 {
    grid-column: 1 / 3 !important;
    grid-row: 3 !important;
  }
}
*/

.section5 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #EEE;
  background-color: #FAFAFA;
  /*.ventajasCC {
    .developerImg {

    }
  }*/
  .ventajasCC {
    border: 1px solid black;
    img {

    }
  }

  .ventajasC, .ventajasC2 {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    // border: 1px solid black;
    .flat {
      border: 1px solid black;
      margin: 4em;
      .flatImg {
        width: 135px;
      }
      p {
        margin: 1em;
        color: #868F9B;
      }
    }
  }
}

