<div class="wholePage">
<body>
  <app-navbar></app-navbar>
  <header></header>

  <section class="section1"
  >
    <div class="cajaCurso">
      <div class="cajaCursoI"><img src="{{curso?.imagen2}}">

      </div>

      <div class="cajaCursoD">
        <h2>{{curso?.titulo2}}</h2>
        <div class="descripCurso">{{curso?.descripcion2}}</div>
        <div class="cajaCursoAbajo">
          <div class="cajaCursoAbajoI">
            <ul>
              <li class="">- 35h de videotutoriales disponibles.</li>
              <li class="">- Tutor personalizado para la resolución tus dudas.</li>
              <li class="">- Recursos descargables.</li>
              <li class="">- Métodos de aprendizaje mas actualizados.</li>
              <li class="">- Adaptación en dispositivos móviles del contenido.</li>
            </ul>
          </div>
          <div class="cajaCursoAbajoD">
            <div class="specs">
              <i class="fas fa-calendar-alt"></i>
              <div>Disponible para siempre</div>
            </div>
            <div class="specs">
              <i class="fas fa-certificate"></i>
              <div>Completamente actualizado</div>
            </div>
            <div class="specs">
              <i class="fas fa-globe"></i>
              <div>Curso totalmente en español</div>
            </div>
            <div class="specs">
              <i class="fas fa-clock"></i>
              <div>{{curso.tiempo}}h de contenido</div>
            </div>
            <div class="cajaCursoAbajoA">
              <div class="precio">{{curso.precio}}€</div>
              <button>COMPRAR CURSO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <div class="cajaDescripcion">
      <h3>DESCRIPCIÓN DEL CURSO</h3>
      <div class="desc">{{curso.descripcionGeneral}}</div>
    </div>
  </section>

  <section class="section3">
    <h3>CONTENIDO DEL CURSO</h3>
    <div class="contenedorInfo">
      <div class="contenedorInfoI">
        <div class="contI">
        <div class="seO"><div class="se">INTRODUCCIÓN<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">CONCEPTO<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">ANÁLISIS<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">SINTAXIS<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">PROGRAMAS<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">DESARROLLO<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">CONCEPTO<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">EJERCICIOS<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">EJEMPLOS<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">SERVICIOS Y COMPONENTES<i class="fas fa-arrow-circle-right"></i></div></div>
        <div class="seO"><div class="se">OPERACIÓN LOGÍSTICA<i class="fas fa-arrow-circle-right"></i></div></div>
      </div>
      </div>
      <div class="contenedorInfoD">
        <div class="cajaInfo">
          Lorem Ipsum is simply dummy
          text of the printing and
          typesetting industry. Lorem
          Ipsum has been the industry's
          standard dummy text ever since
          the 1500s, when an unknown
          printer took a galley of type and
          scrambled it to make a type
          specimen book. It has survived
          not only five centuries, but also
          the leap into electronic
          typesetting, remaining
          essentially unchanged.
        </div>
      </div>
    </div>
  </section>

  <section class="section4">
    <h3>CURSOS RELACIONADOS</h3>
    <div class="contenedorWrapp">
      <div id="wrapper">

        <app-caja-curso *ngFor="let datosCurso of cursoo" [valor]="datosCurso"></app-caja-curso>
        <!-- *ngFor="let item of cursos" [curso]="item" (datos)="abrirCurso($event)" -->
      </div>
    </div>
  </section>


</body>
 <app-contact-fotter></app-contact-fotter>
</div>
