
<div class="bar1"><app-navbar></app-navbar></div>
<div class="bar"></div>
<section class="portada">
  <!-- <img id="fondoR" src="/assets/img/Trazado 49.png" alt=""> -->
  <div class="portadaC">
    <div class="cajaP">
      <h1>CURSOS ONLINE Y PRESENCIALES</h1>
      <p>Los cursos más actualizados y más completos con la mayor fiabilidad y atención</p>
      <div class="buttons">
        <button class="buttonL">CURSOS ONLINE -></button><button class="buttonR">CURSOS PRESENCIALES -></button>
      </div>
    </div>
    <img id="fondoS" src="/assets/img/Grupo 50.svg" alt="">
</div>
</section>

<section class="section2">
  <h2>CURSOS ONLINE</h2>
</section>


<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1919.693" height="1260.568" viewBox="0 0 1919.693 1260.568">
  <defs>
    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#6195ff"/>
      <stop offset="1" stop-co lor="#314b80"/>
    </linearGradient>
  </defs>
  <path id="Trazado_58" data-name="Trazado 58" d="M6119.693,2763.486s-1225.96,225.47-824.506-102.794S4200,2401.77,4200,2401.77V3426.578s1003.635-453,997.9-65.653,921.793,282.307,921.793,282.307Z" transform="translate(-4200 -2395.653)" fill="url(#linear-gradient)"/>
</svg> -->

<router-outlet></router-outlet>
