
<div class="bar1"><app-navbar></app-navbar></div>
<div class="bar"></div>
<section class="portada">
  <img id="fondoR" src="/assets/img/Trazado 49.png" alt="">
  <div class="portadaC">
    <div class="portI">
    <div class="cajaP">
      <h1>CURSOS ONLINE Y PRESENCIALES</h1>
      <p>Los cursos más actualizados y más completos con la mayor fiabilidad y atención</p>
      <div class="buttons">
        <button class="buttonL">CURSOS ONLINE <i class="fas fa-angle-down"></i></button><button class="buttonR">CURSOS PRESENCIALES <i class="fas fa-angle-down"></i></button>
      </div>
    </div>
  </div>
    <div class="portD">
    <img id="fondoS" src="/assets/img/Grupo 50.svg" alt="">
    </div>
</div>
</section>

<h2 id="h2tit">CURSOS ONLINE</h2>

<section class="section2">

  <div class="onlineC">
    <div class="onlineCtop">
    <div class="onlineCtopI"><img src="/assets/img/NoPath - copia (8).png" alt=""></div>
    <div class="onlineCtitl"><h2>INFORMACIÓN CURSOS ONLINE</h2></div>
    </div>

    <div class="onlineCtext">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper gravida dui, id auctor justo ornare a. Donec
      malesuada finibus leo id convallis. Curabitur condimentum velit in aliquet luctus. Etiam sit amet justo eu justo rutrum
      hendrerit ac et elit. Duis id metus sit amet arcu euismod laoreet finibus at ligula. Phasellus scelerisque augue sapien,
      non volutpat justo mollis non. Curabitur risus purus, egestas sed laoreet quis, mattis et justo.</p>
      <p>
      Duis faucibus a enim et condimentum. Vivamus purus felis, mollis in lacus sit amet, congue cursus velit. Pellentesque
      tristique, urna sit amet iaculis luctus, lacus orci suscipit neque, imperdiet vehicula nisi nulla condimentum metus. Nunc
      rhoncus ultrices augue quis convallis. Sed non efficitur enim. Sed varius placerat scelerisque. Aenean ultricies vulputate
      vulputate. Suspendisse nec porta massa. Integer non urna suscipit, interdum nibh ut, tempus nisi. Donec in consectetur
      leo, a laoreet sapien. Quisque non mollis enim, sit amet convallis lacus. Cras ut magna at lacus semper semper. Nullam
      et ex ligula.</p>
      <p class="onlineClink"><a href="">Pedir información <i class="fas fa-angle-down"></i></a></p>
    </div>
  </div>

  <div class="cursosC">
    <i class="fas fa-angle-double-left"></i>
    <i class="fas fa-angle-double-right"></i>

      <div id="wrapper">
        <app-caja-curso *ngFor="let item of cursos" [curso]="item" (datos)="abrirCurso($event)"></app-caja-curso>
      <!-- <div class="cursoBox">
        <div class="topBox">
          <div class="cajaIm">
            <img src="/assets/img/angular.png" alt="">
          </div>
          <div class="cajaT">CURSO DE ANGULAR 10<div class="cajaD">Desarrollo web</div></div>
          <div class="cajaL"><a href="">+ Más información</a></div>
        </div>
        <div class="bottBox">
          <div class="bottBoxI">
            <div class="bottT">50h</div>
            <div class="bottD">Tiempo</div>
          </div>
          <div class="bottBoxD">
            <div class="bottT">50€</div>
            <div class="bottD">Precio</div>
          </div>
        </div>
      </div> -->

  </div>
  </div>


  <h2 id="cursosP">CURSOS PRESENCIALES</h2>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">CURSO</th>
        <th scope="col">DESCRIPCIÓN</th>
        <th scope="col">FECHA</th>
      </tr>
    </thead>
    <tbody>
        <tr class="firstRow">
          <th scope="row">Desarrollo de aplicaciones web || IFCD0210</th>
          <td>Desarrollo de aplicaciones web utilizando html, css y javascript</td>
          <td>No disponible actualmente</td>
        </tr>
        <tr class="secondRow">
          <th scope="row">Publicación y confección de páginas web || IFCD0110</th>
          <td>Conocimientos básicos para crear y publicar una página web desde 0</td>
          <td>24/10/2019</td>
        </tr>
        <tr class="firstRow">
          <th scope="row">Desarrollo de aplicaciones web || IFCD0210</th>
          <td>Desarrollo de aplicaciones web utilizando html, css y javascript</td>
          <td>No disponible actualmente</td>
        </tr>
        <tr class="secondRow">
          <th scope="row">Publicación y confección de páginas web || IFCD0110</th>
          <td>Conocimientos básicos para crear y publicar una página web desde 0</td>
          <td>24/10/2019</td>
        </tr>
        <tr class="firstRow">
          <th scope="row">Desarrollo de aplicaciones web || IFCD0210</th>
          <td>Desarrollo de aplicaciones web utilizando html, css y javascript</td>
          <td>No disponible actualmente</td>
        </tr>
        <tr class="secondRow">
          <th scope="row">Publicación y confección de páginas web || IFCD0110</th>
          <td>Conocimientos básicos para crear y publicar una página web desde 0</td>
          <td>24/10/2019</td>
        </tr>
        <tr class="firstRow">
          <th scope="row">Desarrollo de aplicaciones web || IFCD0210</th>
          <td>Desarrollo de aplicaciones web utilizando html, css y javascript</td>
          <td>No disponible actualmente</td>
        </tr>
        <tr class="secondRow">
          <th scope="row">Publicación y confección de páginas web || IFCD0110</th>
          <td>Conocimientos básicos para crear y publicar una página web desde 0</td>
          <td>24/10/2019</td>
        </tr>
        <tr class="firstRow">
          <th scope="row">Desarrollo de aplicaciones web || IFCD0210</th>
          <td>Desarrollo de aplicaciones web utilizando html, css y javascript</td>
          <td>No disponible actualmente</td>
        </tr>
        <tr class="secondRow">
          <th scope="row">Publicación y confección de páginas web || IFCD0110</th>
          <td>Conocimientos básicos para crear y publicar una página web desde 0</td>
          <td>24/10/2019</td>
        </tr>
        <tr class="firstRow">
          <th scope="row">Desarrollo de aplicaciones web || IFCD0210</th>
          <td>Desarrollo de aplicaciones web utilizando html, css y javascript</td>
          <td>No disponible actualmente</td>
        </tr>
        <tr class="secondRow">
          <th scope="row">Publicación y confección de páginas web || IFCD0110</th>
          <td>Conocimientos básicos para crear y publicar una página web desde 0</td>
          <td>24/10/2019</td>
        </tr>
    </tbody>
  </table>

  <!-- <div class="onlineC2">
    <div class="onlineCtop2">
    <div class="onlineCtopI2"><img src="/assets/img/undraw_development_ouy3.svg" alt=""></div>
    <div class="onlineCtitl2"><h2>INFORMACIÓN CURSOS PRESENCIALES</h2></div>
    </div>

    <div class="onlineCtext2">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper gravida dui, id auctor justo ornare a. Donec
      malesuada finibus leo id convallis. Curabitur condimentum velit in aliquet luctus. Etiam sit amet justo eu justo rutrum
      hendrerit ac et elit. Duis id metus sit amet arcu euismod laoreet finibus at ligula. Phasellus scelerisque augue sapien,
      non volutpat justo mollis non. Curabitur risus purus, egestas sed laoreet quis, mattis et justo.</p>
      <p>
      Duis faucibus a enim et condimentum. Vivamus purus felis, mollis in lacus sit amet, congue cursus velit. Pellentesque
      tristique, urna sit amet iaculis luctus, lacus orci suscipit neque, imperdiet vehicula nisi nulla condimentum metus. Nunc
      rhoncus ultrices augue quis convallis. Sed non efficitur enim. Sed varius placerat scelerisque. Aenean ultricies vulputate
      vulputate. Suspendisse nec porta massa. Integer non urna suscipit, interdum nibh ut, tempus nisi. Donec in consectetur
      leo, a laoreet sapien. Quisque non mollis enim, sit amet convallis lacus. Cras ut magna at lacus semper semper. Nullam
      et ex ligula.</p>
      <p class="onlineClink2"><a href="">Pedir información</a></p>
    </div>
  </div> -->

  <div class="cajaCursosPresencial">
    <div class="cajaTop">
    <div class="cajaTopIz">
      <img src="/assets/img/undraw_development_ouy3.svg" alt="">
    </div>
    <div class="cajaTopDe"><h2>INFORMACIÓN CURSOS PRESENCIALES</h2></div>
    </div>

    <div class="CajaBottom">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper gravida dui, id auctor justo ornare a. Donec
      malesuada finibus leo id convallis. Curabitur condimentum velit in aliquet luctus. Etiam sit amet justo eu justo rutrum
      hendrerit ac et elit. Duis id metus sit amet arcu euismod laoreet finibus at ligula. Phasellus scelerisque augue sapien,
      non volutpat justo mollis non. Curabitur risus purus, egestas sed laoreet quis, mattis et justo.</p>
      <p>

      Duis faucibus a enim et condimentum. Vivamus purus felis, mollis in lacus sit amet, congue cursus velit. Pellentesque
      tristique, urna sit amet iaculis luctus, lacus orci suscipit neque, imperdiet vehicula nisi nulla condimentum metus. Nunc
      rhoncus ultrices augue quis convallis. Sed non efficitur enim. Sed varius placerat scelerisque. Aenean ultricies vulputate
      vulputate. Suspendisse nec porta massa. Integer non urna suscipit, interdum nibh ut, tempus nisi. Donec in consectetur
      leo, a laoreet sapien. Quisque non mollis enim, sit amet convallis lacus. Cras ut magna at lacus semper semper. Nullam
      et ex ligula.</p>
      <p class="onlineClink2"><a href="">Pedir información <i class="fas fa-angle-down"></i></a></p>
    </div>
  </div>
</section>










<app-contact-fotter></app-contact-fotter>

<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1919.693" height="1260.568" viewBox="0 0 1919.693 1260.568">
  <defs>
    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#6195ff"/>
      <stop offset="1" stop-co lor="#314b80"/>
    </linearGradient>
  </defs>
  <path id="Trazado_58" data-name="Trazado 58" d="M6119.693,2763.486s-1225.96,225.47-824.506-102.794S4200,2401.77,4200,2401.77V3426.578s1003.635-453,997.9-65.653,921.793,282.307,921.793,282.307Z" transform="translate(-4200 -2395.653)" fill="url(#linear-gradient)"/>
</svg> -->

<router-outlet></router-outlet>

