<div><app-navbar></app-navbar></div>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>

<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>

<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>

<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p>
<p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p><p>pagina-cursos works!</p>
<router-outlet></router-outlet>
