<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo" routerLink="/"><img src="assets/img/logo.png"></label>
  <ul>
    <li><a class="active" routerLink="/" onclick="window.scrollTo(0, 0)">INICIO</a></li>
    <ol class="s"><a class="a">GRADOS SUPERIORES <i class="fas fa-angle-down"></i></a>
      <div class="h">
        <div class="z" routerLink="/dam" onclick="window.scrollTo(0, 0)">Desarrollo Multiplataforma</div>
        <hr>
        <div class="z" routerLink="/daw" onclick="window.scrollTo(0, 0)">Desarrollo Web</div>
      </div>
    </ol>
    <li><a routerLink="/cursos" onclick="window.scrollTo(0, 0)">CURSOS</a></li>
    <li class="w"><a  onclick="window.scrollTo(0, 9000)">CONTACTO</a></li>
  </ul>

</nav>
