<section class="section1">

  <app-navbar></app-navbar>

  <div class="portada">
    <div class="portadaI">
      <div class="tPortada">
        <h1>DESARROLLO DE APLICACIONES WEB</h1>
      </div>
      <div class="dPortada">
        Ahora te puedes convertir en ese profesional cotizado y demandado por las empresas
      </div>
      <div class="bPortada">
        <button onclick="window.location.href='#grados';" class="b1">Información grados</button><button onclick="window.location.href='#cursos';" class="b2">Formación online!</button>
      </div>
    </div>
    <div class="portadaD">
      <div class="formBox">
        <div class="tForm">Solicitar Información</div>
        <form action="">
          <input type="text" placeholder="Nombre y Apellidos" name="nombre" [(ngModel)]="form.nombre">
          <input type="text" placeholder="Email" name="email" [(ngModel)]="form.email">
          <input type="text" placeholder="Asunto" name="asunto" [(ngModel)]="form.asunto">
          <input type="submit" value="Enviar" id="sendForm" (click)="enviarFormulario()">
        </form>
      </div>
    </div>
  </div>

<section class="section2">
  <h2>¿Para qué me prepara?</h2>
  <div class="containerTips">
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Trabajarás con diferentes tecnologías y metodologías como: PHP, NODE, HTML, XML, CSS, BOOTSTRAP, JAVASCRIPT, JQUERY, ANGULAR MySQL, SCRUM, UML y GIT</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Aprenderás a acceder a los datos de forma segura y cumpliendo los criterios de usabilidad y calidad</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollarás componentes software en el entorno del servidor web</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Gestionarás servidores de aplicaciones adaptando su configuración en cada caso</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollarás aplicaciones web utilizando diferentes lenguajes, objetos de acceso y herramientas de mapeo adecuados a las especificaciones</p>
    </div>
  </div>
</section>

<section class="section3">
  <div class="cajaTip">
    <i class="fa fa-trophy"></i>
    <h3>Título Oficial</h3>
  </div>
  <div class="cajaTip">
   <i class="fa fa-calendar"></i>
   <h3>2 Años Lectivos</h3>
  </div>
  <div class="cajaTip">
    <i class="fa fa-magic"></i>
    <h3>1600h Clases</h3>
  </div>
  <div class="cajaTip">
    <i class="fa fa-cogs"></i>
    <h3>400h Prácticas</h3>
  </div>
</section>

<section class="section4">
  <h2>¿Qué nos hace únicos?</h2>
  <div class="contenedor4">
    <div class="cajaTap">
      <h3>Número de Alumnos</h3>
      <p>Tenemos sólo 20 alumnos por aula, esto nos permite tener mucho más atención al alumnado </p>
    </div>
    <div class="cajaTap">
      <h3>Experiencia +20años</h3>
      <p>Sí, estás leyendo bien, tenemos más de 20 años de experiencia en la formación en informática.</p>
    </div>
    <div class="cajaTap">
      <h3>Enfoque emprendedor</h3>
      <p>Creemos en la importancia de apoyar y guiar en el emprendimiento </p>
    </div>
  </div>
</section>

<section class="section5">
<div class="section5I">
  <h2>SALIDAS PROFESIONALES</h2>
  <div class="p1">Fórmate en un sector con grandes oportunidades laborales, cuya previsión para 2018 y 2019 es la creación de 900.000 nuevos puestos de trabajo.</div>
  <div class="containerTips">
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Diseñador web</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollador backend </p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Desarrollador full stack</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Especialista en SEO</p>
    </div>
    <div class="tips">
      <i class="fa fa-check"></i>
      <p>Especialista en Analitica Web</p>
    </div>
  </div>
</div>
<div class="section5D">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr5.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr6.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr7.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/carr8.jpg">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
</section>

<app-contact-fotter></app-contact-fotter>
